{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}
<head>
  <title>
    {%block title%}
      To be replaced by actual title
    {%endblock%}
  </title>
</head>
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript">
    $(document).ready(function() {
      $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
      $('.datetimeinput').datetimepicker({format: "YYYY-MM-DD HH:mm"});
    });
</script>
</head>
<body>
<div class="postit" style="color:{{note.fontcolor}};margin-top:0px;max-height:none;height:auto;display:block">
        <div id="hvr-grow-shadow-xtra" style="width:auto;height:50px;margin:auto"><a href={%url 'main' %}><h1 style="font-family:'Poiret One'; margin-top:-15px; margin-left:10px; margin-right:10px">Home</h1></a></div>
        <div id="hvr-grow-shadow-xtra" style="width:auto;height:50px;margin:auto"><a href={%url 'notes_list' 'monday' %}><h1 style="font-family:'Poiret One'; margin-top:-15px; margin-left:10px; margin-right:10px">Monday</h1></a></div>
        <div id="hvr-grow-shadow-xtra" style="width:auto;height:50px;margin:auto"><a href={%url 'notes_list' 'tuesday' %}><h1 style="font-family:'Poiret One'; margin-top:-15px; margin-left:10px; margin-right:10px">Tuesday</h1></a></div>
        <div id="hvr-grow-shadow-xtra" style="width:auto;height:50px;margin:auto"><a href={%url 'notes_list' 'wednesday' %}><h1 style="font-family:'Poiret One'; margin-top:-15px; margin-left:10px; margin-right:10px">Wednesday</h1></a></div>
        <div id="hvr-grow-shadow-xtra" style="width:auto;height:50px;margin:auto"><a href={%url 'notes_list' 'thursday' %}><h1 style="font-family:'Poiret One'; margin-top:-15px; margin-left:10px; margin-right:10px">Thursday</h1></a></div>
        <div id="hvr-grow-shadow-xtra" style="width:auto;height:50px;margin:auto"><a href={%url 'notes_list' 'friday' %}><h1 style="font-family:'Poiret One'; margin-top:-15px; margin-left:10px; margin-right:10px">Friday</h1></a></div>
        <div id="hvr-grow-shadow-xtra" style="width:auto;height:50px;margin:auto"><a href={%url 'note_add' %}><h1 style="font-family:'Poiret One'; margin-top:-15px; margin-left:10px; margin-right:10px">Add Note</h1></a></div>
    </div>
{%block content%}
    
{%endblock%}
</body>